.form{
    background-color: white;
    border-radius: 5px;
    width: 550px;
    margin: 20px auto;
    padding: 20px;
    height: 550px;
}

.form-body{
    text-align: right;
    padding: 20px 10px;
}

.form-body > *{
    padding: 8px;
}

.form__label{
    text-align: left;
    width: 40%;
}

.form__input{
    margin-right: 100px;
    width: 40%;
}

.footer{
    text-align: center;
}

p {
    color: black;
}

.react-html5-camera-photo  {
    position: absolute;
}

.pass_counter {
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
}


.pass_holder {
    margin: 20px;
    padding: 0.02px;
    width: auto;
    background-color: #2CB117;
    border-radius: 10px;
}